# Dependencies
node_modules/

# Environment variables & secrets
.env
.env.*
*.env

# Runtime logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Deployment artifacts & caches
.vercel/

# IDE & OS-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/